@model EcoCyan.Models.EntregaLixo

@{
    ViewData["Title"] = "Nova Entrega de Lixo";
}

<h1>@ViewData["Title"]</h1>

<h4>Entrega de Lixo</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <label asp-for="DataEntrega" class="control-label"></label>
                <input asp-for="DataEntrega" class="form-control" />
                <span asp-validation-for="DataEntrega" class="text-danger">*</span>
            </div>
            <div class="form-group">
                <label asp-for="IdLixoColetado" class="control-label"></label>
                <select asp-for="IdLixoColetado" class="form-control" asp-items="ViewBag.IdLixoColetado"></select>
                <span asp-validation-for="IdLixoColetado" class="text-danger">*</span>
            </div> 
            <div class="form-group">
                <label asp-for="IdUser" class="control-label"></label>
                <select asp-for="IdUser" class="form-control" asp-items="ViewBag.IdUser"></select>
                <span asp-validation-for="IdUser" class="text-danger">*</span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
